.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-list {
    display: flex;
    gap: 8px;
    list-style: none;
}

.nav-item {
    margin-right: 15px;
}
ul.social {
    display: flex;
  }
  ul.social li {
    position: relative;
    display: block;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
   
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
  ul.social li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  ul.social li:nth-child(1):before {
    background: #4267B2;
  }
  ul.social li:nth-child(2):before {
    background: #1DA1F2;
  }
  ul.social li:nth-child(3):before {
    background: #E1306C;
  }
  ul.social li:nth-child(4):before {
    background: #2867B2;
  }
  ul.social li:nth-child(5):before {
    background: #ff0000;
  }
  ul.social li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
  }
  ul.social li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267B2;
  }
  ul.social li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #1DA1F2;
  }
  ul.social li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #E1306C;
  }
  ul.social li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #2867B2;
  }
  ul.social li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #ff0000;
  }
  ul.social li:nth-child(1):hover {
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
  }
  ul.social li:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
  }
  ul.social li:nth-child(3):hover {
    color: #2867b2;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }
  ul.social li:nth-child(4):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 15px #2867B2;
  }
  ul.social li:nth-child(5):hover {
    color: #2867b2;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }
 
       
        .header ul li:last-child {
            margin-right: 350px; 
        }
     
a:active {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        margin-right: 0;
    }

    .menu-icon {
        display: block;
    }

    .flex-container {
        flex-direction: column;
    }
    .flex-column-item {
        width: 100%;
    }
    .social {
        display: none;
    }

    .flex.items-center.justify-center .social {
        display: flex;
    }
}